body {
  font-family: sans-serif;
  text-align: center;
  background-image: radial-gradient(50% 100%, #1c593b 34%, #07170f 100%);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.nav-links {
  list-style: none;
}

nav ul li {
  color: #fff;
}

.bbchar {
  width: 468px;
  height: 190px;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 22px auto;
}

.bbchar img {
  width: 141px;
  height: 190px;
  float: left;
}

.bbchar p {
  font-family: SFUIDisplay-Black;
  font-size: 30px;
  color: #1d2228;
  font-size: 30px;
  float: left;
  padding: 37px 0px 0px 52px;
  text-decoration: none;
}

/* .bbchar .metadata {
font-family: SFUIDisplay-Regular;
font-size: 16px;
color: #828C93;
letter-spacing: 0;
} */

.char-card {
  background: #f9f9f9;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 797px;
  height: 412px;
  margin: 0 auto;
}

.char-card li {
  list-style-type: none;
}

.char-card p {
  margin-bottom: 50px;
  color: #828c93;
}

.char-card li {
  padding-bottom: 16px;
}

.card-img {
  float: left;
}

.card-img img {
  height: 412px;
  width: 306px;
}

.card-content {
  text-align: left;
  margin-top: 20px;
  margin-left: 330px;
}

.card-content h1 {
  margin-bottom: 10px;
  padding-top: 30px;
}
